<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5 card" style="width: 25rem;">
    
    <h2 style="text-align: center;">Admin Login</h2>
    <form action="/admin/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit" class="btn btn-success" style="text-align: center;">Login</button>
    </form>
</div>
</body>
</html>